@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* base styles */
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #142f43;
  color: #fff;
}
main {
  margin: 0;
  padding: 0;
  min-height: calc(100vh - 70px);
}
header {
  background-color: #ffab4c;
  display: flex;
  height: 7rem;
}
header h2 {
  color: #142f43;
}
.title {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 2rem;
  font-size: 2rem;
  width: 60%;
}
.info {
  text-align: left;
  font-size: 0.9rem;
  width: 40%;
  padding-left: 0.5rem;
  padding-top: 2.1rem;
}
.noti-container {
  height: 8rem;
  background-color: #142f43;
}
.end-game {
  margin-top: 3rem;
}
.landing-page {
  margin-top: 3rem;
}
.answers {
  margin: auto;
  min-width: 20%;
  max-width: 35%;
}
.answer {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0.9rem;
}
.answer:hover {
  color: #ffab4c;
}
.answer:visited {
  color: #ff5f7e;
}
button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  margin-top: 1.5rem;
}
button:hover {
  background: #ffab4c;
  color: #142f43;
}
footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: #ffab4c;
  margin-top: 25px;
}
